.hovedbanner {
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    z-index: 10;
}

.arbeidsgiver {
    background-color: #ffeccc;
    border-bottom: 4px solid #ffd799;
}

.typo-systemtittel {
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 600;
}

.lenke {
    color: #0067c5;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

.chevron--venstre {
    display: inline-block;
    flex-shrink: 0;
    height: 2px;
    line-height: 2px;
    width: 20px;
    position: relative;
    text-align: center;
    transition: transform 0.2s;
    vertical-align: middle;
    text-decoration: none !important;
    transform: rotate(90deg);
}

.tst {
    color: #0067c5;
    fill: #0067c5;
}
/* Nye testing */

.sticky {
    top: 0;
    left: -1px;
    z-index: 100000;
}

.sticky + .content {
    /*OBS, Denne er laget i relasjon til nav sin header, som er 80 px stor. hvis designet eller størrelsen på nav-headeren endres, så bør denne endres*/
    padding-top: 80px;
}
